@use "@style/_variables.scss" as variables;
@use "@style/mixin/_media.scss" as media;

.message__text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: variables.rem(16px) variables.rem(24px);
  color: variables.$dark;
  background-color: #e1e1e1;
  border-radius: variables.rem(8px) variables.rem(8px) variables.rem(8px) 0;
  margin-top: variables.rem(24px);

  &.--own-message {
    margin-left: auto;
    color: #fff;
    background-color: variables.$primary;
    border-radius: variables.rem(8px) variables.rem(8px) 0 variables.rem(8px);
    margin-top: variables.rem(6px);
  }

  p {
    display: inline;
    word-break: break-word;
    font-weight: variables.$fw-medium;
    font-size: variables.rem(13px);
    line-height: variables.rem(21px);
  }

  .message-meta {
    float: left;
    margin-right: variables.rem(16px);
    margin-top: variables.rem(8px);
  }

  @include media.for-mobile {
    max-width: variables.rem(257px);
  }

  @include media.for-tablet {
    max-width: variables.rem(363px);
    margin-top: variables.rem(32px);
  }

  @include media.for-desktop {
    max-width: variables.rem(379px);
    padding: variables.rem(24px) variables.rem(32px);
    gap: variables.rem(8px);
    margin-top: variables.rem(40px);

    &.--own-message {
      margin-top: variables.rem(8px);
    }

    p {
      font-size: variables.rem(16px);
      line-height: variables.rem(26px);
    }
  }
}