@use '@style/_variables.scss' as variables;
@use '@style/mixin/_media.scss' as media;

@import '../../../layouts/shared/SellerReview/style/reviews';

.filter {
  &__item > div {
    margin: variables.rem(10px) 0;
    max-height: variables.rem(242px);
    //overflow-y: auto;
  }

  &__item-select {
    overflow-y: hidden;
  }

  .--select {
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: variables.rem(2px);
  }

  &__item.--range-slider > div {
    //overflow-y: hidden;
  }

  &__item .input-checkbox {
    width: 100%;
    column-gap: variables.rem(8px);

    span {
      border: none;
      background-color: #e8e8e8;
    }

    p {
      line-height: variables.rem(17px);
      color: variables.$dark;
    }

    &:not(:first-child) {
      margin-top: variables.rem(8px);
    }
  }

  &__item {
    &:first-child {
      margin-top: 0;
    }

    &-group {
      display: flex;
      flex-direction: column;
      margin-top: variables.rem(8px);

      &:first-child {
        margin-top: 0;
      }

      span {
        color: variables.$lightGrey;
        user-select: none;
        text-transform: uppercase;
      }

      .input-checkbox:first-child {
        margin-top: variables.rem(8px);
      }
    }
  }

  @include media.for-mobile {
    &__item > div {
      max-height: variables.rem(242px);
    }

    &__item {
      margin-top: variables.rem(18px);
    }
  }

  @include media.for-tablet {
    &__item > div {
      max-height: variables.rem(312px);
    }

    &__item {
      margin-top: variables.rem(28px);
    }
  }

  @include media.for-laptop {
    &__item {
      margin-top: variables.rem(30px);
    }
  }

  @include media.for-desktop {
    &__item > div {
      max-height: variables.rem(292px);
    }

    &__item {
      margin-top: variables.rem(44px);

      .input-checkbox {
        p {
          font-size: variables.rem(15px);
          line-height: variables.rem(26px);
        }

        &:not(:first-child) {
          margin-top: variables.rem(9px);
        }
      }
    }
  }
}

.catalog-filter-wrapper {
  position: relative;
}

.filter__item-loader {
  top: 0 !important;
  margin-top: variables.rem(16px) !important;
  transform: translateX(-50%);
}

.filter__item {
  &.--range:not(:first-child) {
    margin-top: variables.rem(20px);
  }

  &.--one-checkbox-filter {
    margin-top: 0;
  }

  &-title {
    display: block;
    margin-bottom: variables.rem(16px);
    font-weight: variables.$fw-semi-bold;
    font-size: variables.rem(13px);
    line-height: variables.rem(23px);
  }

  &:not(:first-child) .input-default {
    border-top: none;
  }

  &-input {
    display: block;
    width: 100%;
    padding: variables.rem(11px) variables.rem(16px);
    margin-top: variables.rem(4px);
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-size: variables.rem(18px);
    font-weight: variables.$fw-regular;
    line-height: variables.rem(25px);
    color: variables.$fullBlack;
    background-color: #f4f5f5;

    &::placeholder {
      font-family: inherit;
      font-style: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
    }
  }

  @include media.for-desktop {
    &-title {
      margin-bottom: variables.rem(24px);
      font-size: variables.rem(16px);
      line-height: variables.rem(29px);
    }

    &-input {
      padding: variables.rem(15px) variables.rem(32px);
      font-size: variables.rem(24px);
      line-height: variables.rem(34px);
    }
  }
}

.catalog {
  &-container {
    position: relative;

    .tabs {
      margin: 0;

      &__buttons button {
        flex-basis: 46%;
      }

      &__content {
        margin-top: 0;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      line-height: variables.rem(14px);
      width: 100%;
    }
  }

  &__seller-status {
    margin-bottom: variables.rem(40px);
    font-weight: variables.$fw-light;
    font-size: variables.rem(13px);
    line-height: variables.rem(22px);
    color: #7a7a7a;
    text-align: center;
  }

  &__seller-logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    border-radius: 100%;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    font-size: variables.rem(20px);
    line-height: variables.rem(28px);
    text-transform: uppercase;
    user-select: none;

    img {
      border-radius: inherit;
    }

    span {
      position: absolute;
      right: variables.rem(5px);
      bottom: variables.rem(6px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: variables.rem(15px);
      height: variables.rem(15px);
      background-color: #fff;
      border-radius: 100%;

      &::before {
        position: absolute;
        content: '';
        width: variables.rem(5px);
        height: variables.rem(5px);
        background-color: variables.$fullBlack;
        border-radius: 100%;
      }
    }
  }

  &__seller-pages {
    display: flex;
    justify-content: center;
    gap: variables.rem(4px);

    a {
      position: relative;
      width: 100%;
      max-width: variables.rem(117px);
      padding: variables.rem(13px);
      font-size: variables.rem(13px);
      line-height: variables.rem(22px);
      cursor: pointer;
      text-align: center;
      color: #7a7a7a;
      background-color: #f4f5f5;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

      &::before {
        position: absolute;
        bottom: variables.rem(-1px);
        left: 50%;
        content: '';
        opacity: 0;
        width: variables.rem(16px);
        height: variables.rem(6px);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='6' viewBox='0 0 16 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16 6L0 6C7.78947 5.52632 8 0 8 0C8 0 8.21053 5.52632 16 6Z' fill='white'/%3e%3c/svg%3e ");
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out;
      }

      &.--active,
      &:hover {
        color: #fff;
        background-color: variables.$primary;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__seller-start-chat.btn {
    justify-content: flex-start;
  }

  &__filter-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: variables.rem(4px) variables.rem(16px) variables.rem(56px);
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: variables.rem(272px);
    background-color: #fff;
    transition: 0.3s ease-in-out;
    transform: translateX(-1000%);

    @include media.for-mobile {
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &.--open {
      transform: translateX(0%);

      form {
        //overflow-y: scroll;
      }
    }
  }

  &__close-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: variables.rem(48px);
    height: variables.rem(48px);
    border: variables.rem(1px) solid variables.$dark;
    border-radius: 100%;
    cursor: pointer;
    margin: variables.rem(16px) 0 variables.rem(20px) 0;

    span {
      position: relative;
      width: variables.rem(8px);
      height: variables.rem(8px);

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 100%;
        height: variables.rem(1px);
        background-color: variables.$dark;
        transform: translateY(-50%);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__settings {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: variables.rem(2px);
    margin-bottom: variables.rem(32px);

    .btn {
      width: 49%;
    }

    select {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: variables.rem(40px);
    row-gap: variables.rem(4px);

    .--dark {
      color: variables.$dark;
      background-color: variables.$lightGrey;

      &:hover {
        border-color: variables.$lightGrey;
      }
    }
  }

  &__more-btn {
    display: block;
    padding: variables.rem(20px);
    font-size: variables.rem(13px);
    font-weight: variables.$fw-semi-bold;
    line-height: variables.rem(16px);
    letter-spacing: 0.04em;
    border: variables.rem(1px) solid variables.$dark;
    border-radius: 100%;
    cursor: pointer;
    word-break: break-word;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:hover {
      color: lighten(variables.$dark, 35%);
      border-color: lighten(variables.$dark, 40%);
    }
  }

  &__products {
    height: fit-content;
  }

  @include media.for-mobile {
    &-container {
      margin-top: variables.rem(52px);

      &.--account {
        margin-top: 0;
        padding-top: variables.rem(120px);

        .catalog__title {
          margin-top: variables.rem(16px);
          margin-bottom: variables.rem(10px);
        }
      }

      .no-info {
        margin-top: variables.rem(60px);
      }
    }

    &__title {
      margin-bottom: variables.rem(48px);
    }

    &__products {
      display: flex;
      flex-wrap: wrap;
      row-gap: variables.rem(48px);
      column-gap: variables.rem(2px);

      li {
        width: 49%;
      }
    }

    &__more-btn {
      margin: variables.rem(64px) auto 0;
      width: variables.rem(120px);
      height: variables.rem(120px);
    }

    &__seller-logo {
      top: 20px;
      right: 50%;
      left: 50%;
      width: variables.rem(84px);
      height: variables.rem(84px);
      transform: translateX(-50%);
    }

    &__seller-pages {
      margin-bottom: variables.rem(40px);
    }

    &__seller-start-chat.btn {
      padding: variables.rem(17px) variables.rem(32px);
    }

    &-account-container {
      margin-bottom: variables.rem(64px);
    }
  }

  @include media.for-tablet {
    &-container {
      margin-top: variables.rem(68px);

      .btn.catalog__settings-filter {
        display: none;
      }

      &.--account {
        margin-top: 0;
        padding-top: variables.rem(68px);

        .catalog__title {
          margin-bottom: variables.rem(10px);
        }
      }
    }

    &__filter-form {
      position: static;
      padding: 0;
      max-height: 100%;
      transform: translateX(0);
      max-width: variables.rem(198px);
    }

    &__close-filter {
      display: none;
    }

    &__settings {
      justify-content: flex-end;

      .btn {
        width: fit-content;
      }
    }

    &__title {
      margin-bottom: variables.rem(34px);
    }

    &__content {
      display: flex;
      column-gap: variables.rem(42px);
    }

    &__products {
      display: grid;
      justify-content: center;
      grid-column-gap: variables.rem(2px);
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: variables.rem(56px);
    }

    &__more-btn {
      margin: variables.rem(96px) auto 0;
      width: variables.rem(136px);
      height: variables.rem(136px);
    }

    &__seller-logo {
      top: 0;
      right: 0;
      width: variables.rem(78px);
      height: variables.rem(78px);
    }

    &__seller-pages {
      margin-bottom: variables.rem(48px);
    }

    &__seller-start-chat.btn {
      padding: variables.rem(17px) variables.rem(40px);
    }

    &-account-container {
      margin-bottom: variables.rem(80px);
    }
  }

  @include media.for-laptop {
    &-container {
      margin-top: variables.rem(66px);

      &.--account {
        margin-top: 0;
        padding-top: variables.rem(66px);

        .catalog__title {
          margin-bottom: variables.rem(12px);
        }
      }
    }

    &__seller-pages {
      margin-bottom: variables.rem(56px);
      gap: variables.rem(8px);

      a {
        max-width: variables.rem(175px);
        padding: variables.rem(12px);
        font-size: variables.rem(14px);
        line-height: variables.rem(24px);
      }
    }

    &__filter-form {
      max-width: variables.rem(178px);
    }

    &__title {
      margin-bottom: variables.rem(33px);
    }

    &__content {
      column-gap: variables.rem(62px);
    }

    &__products {
      grid-template-columns: repeat(4, 1fr);
    }

    &__more-btn {
      margin: variables.rem(120px) auto 0;
    }

    &__seller-status {
      font-size: variables.rem(14px);
      line-height: variables.rem(24px);
    }

    &__seller-logo {
      width: variables.rem(118px);
      height: variables.rem(118px);
      font-size: variables.rem(24px);
      line-height: variables.rem(34px);

      span {
        right: variables.rem(8px);
        bottom: variables.rem(9px);
        width: variables.rem(18px);
        height: variables.rem(18px);

        &::before {
          width: variables.rem(6px);
          height: variables.rem(6px);
        }
      }
    }
  }

  @include media.for-desktop {
    &-container {
      margin-top: variables.rem(61px);

      &.--account {
        margin-top: 0;
        padding-top: variables.rem(64px);
      }
    }

    &__seller-pages {
      margin-bottom: variables.rem(72px);
      gap: variables.rem(16px);

      a {
        max-width: variables.rem(219px);
        padding: variables.rem(18px);
        font-size: variables.rem(16px);
        line-height: variables.rem(29px);
      }
    }

    &__filter-form {
      max-width: variables.rem(226px);

      .tabs__buttons-container {
        margin-bottom: variables.rem(45px);
      }
    }

    &__buttons {
      margin-top: variables.rem(64px);
      row-gap: variables.rem(16px);
    }

    &__title {
      margin-bottom: variables.rem(71px);
    }

    &__content {
      column-gap: variables.rem(78px);
    }

    &__products {
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: variables.rem(64px);
    }

    &__more-btn {
      margin: variables.rem(160px) auto 0;
      width: variables.rem(186px);
      height: variables.rem(186px);
      font-size: variables.rem(16px);
      line-height: variables.rem(29px);
    }

    &__seller-status {
      margin-bottom: variables.rem(58px);
      font-size: variables.rem(16px);
      line-height: variables.rem(27px);
    }

    &__seller-logo {
      width: variables.rem(150px);
      height: variables.rem(150px);
      font-size: variables.rem(32px);
      line-height: variables.rem(45px);

      span {
        right: variables.rem(10px);
        bottom: variables.rem(10px);
        width: variables.rem(24px);
        height: variables.rem(24px);

        &::before {
          width: variables.rem(8px);
          height: variables.rem(8px);
        }
      }
    }

    &__seller-start-chat.btn {
      padding: variables.rem(22px) variables.rem(48px);
    }

    &-account-container {
      margin-bottom: variables.rem(75px);
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: variables.rem(4px);
  justify-content: center;

  li {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &.--active {
      color: #fff;
      pointer-events: none;
      cursor: auto;
      background-color: variables.$fullBlack;
    }

    &:hover:not(.--active) {
      color: #fff;
      background-color: lighten(variables.$fullBlack, 40%);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;
    }
  }

  @include media.for-mobile {
    margin-top: variables.rem(48px);

    li {
      width: variables.rem(40px);
      height: variables.rem(40px);
    }
  }

  @include media.for-tablet {
    margin-top: variables.rem(64px);

    li {
      width: variables.rem(48px);
      height: variables.rem(48px);
    }
  }

  @include media.for-desktop {
    margin-top: variables.rem(75px);

    li {
      width: variables.rem(64px);
      height: variables.rem(64px);
    }
  }
}

.catalog-account-info {
  @include media.for-mobile {
    .seller-written-container:not(.--small) {
      margin-top: variables.rem(64px);
    }
  }

  @include media.for-tablet {
    .seller-written-container:not(.--small) {
      margin-top: variables.rem(72px);
    }
  }

  @include media.for-laptop {
    .seller-written-container:not(.--small) {
      margin-top: variables.rem(96px);
    }
  }

  @include media.for-desktop {
    .seller-written-container:not(.--small) {
      margin-top: variables.rem(104px);
    }
  }
}

//.filter__range-slider {
//  height: variables.rem(50px);
//  //overflow-x: hidden !important;
//  //overflow-y: hidden;
//  margin: variables.rem(20px) 0 0 !important;
//
//  .--range-track {
//    top: 50%;
//    bottom: 50%;
//    transform: translateY(-50%);
//    height: variables.rem(2px);
//    background-color: variables.$lightGrey;
//
//    &-1 {
//      background-color: variables.$primary;
//    }
//  }
//
//  .--range-thumb {
//    top: 50%;
//    bottom: 50%;
//    height: variables.rem(18px);
//    width: variables.rem(18px);
//    cursor: pointer;
//    transform: translateY(-50%);
//    border-radius: 100%;
//    background-color: variables.$primary;
//
//    span {
//      position: absolute;
//      display: block;
//      width: fit-content;
//      top: variables.rem(-14px);
//      right: 50%;
//      left: 50%;
//      user-select: none;
//      transform: translateX(-50%);
//      font-size: variables.rem(11px);
//      line-height: variables.rem(8px);
//      color: variables.$fullBlack;
//      transition: transform 0.3s ease-in-out;
//    }
//
//    &.--range-thumb-1 span.--close {
//      transform: translateY(40px) translateX(-50%);
//    }
//
//    &::after {
//      position: absolute;
//      content: '';
//      top: 50%;
//      right: 50%;
//      bottom: 50%;
//      left: 50%;
//      width: 100%;
//      height: 100%;
//      background-color: variables.$primary;
//      transform: translate(-50%, -50%);
//      border-radius: inherit;
//      opacity: 0;
//      transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
//    }
//
//    &::before {
//      display: none;
//    }
//
//    &.active::after,
//    &:hover::after {
//      opacity: 0.3;
//      width: 140%;
//      height: 140%;
//    }
//  }
//}
