@use "@style/variables" as variables;
@use "@style/mixin/media" as media;

@import '@style/parts/form';

.reset-password-container {
  h1 {
    margin-bottom: variables.rem(40px);
  }

  .input-password:not(:first-child) {
    margin-top: variables.rem(15px);
  }

  .btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    margin-top: variables.rem(10px);

    .icon-middle-arrow {
      font-size: variables.rem(10px);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .field-error {
    position: absolute;
    color: red;
    user-select: none;
    pointer-events: none;
  }

  @include media.for-mobile {
    .btn {
      padding: variables.rem(17px) variables.rem(32px);
    }
  }

  @include media.for-tablet {
    .btn {
      padding: variables.rem(17px) variables.rem(40px);
    }
  }

  @include media.for-laptop {
    .input-password:not(:first-child) {
      margin-top: variables.rem(24px);
    }

    .btn {
      padding: variables.rem(20px) variables.rem(40px);
    }
  }

  @include media.for-desktop {
    h1 {
      margin-bottom: variables.rem(64px);
    }

    .input-password:not(:first-child) {
      margin-top: variables.rem(40px);
    }

    .btn {
      padding: variables.rem(21px) variables.rem(48px);
    }
  }
}
