@use '@style/_variables.scss' as variables;
@use '@style/mixin/_media.scss' as media;

@import '../../../layouts/shared/ProductListCard';

.feed__item {
  &s {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    align-items: center;
    font-size: variables.rem(12px);
    line-height: variables.rem(20px);

    &__info {
      flex-shrink: 0;
      font-weight: variables.$fw-bold;
      display: flex;
      flex-direction: column;
      gap: variables.rem(6px);

      span {
        position: relative;
        width: fit-content;
      }
    }

    &__time {
      flex-shrink: 0;
      font-weight: variables.$fw-light;
    }

    a {
      position: relative;
      padding-bottom: variables.rem(7px);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      display: block;
      transition: color 0.3s ease-in-out;

      &::before {
        position: absolute;
        bottom: 0;
        content: '';
        width: 100%;
        height: variables.rem(1px);
        background-color: variables.$dark;
        transition: background-color 0.3s ease-in-out;
      }

      &:hover {
        color: lighten(variables.$dark, 40%);

        &::before {
          background-color: lighten(variables.$dark, 40%);
        }
      }
    }
  }

  .feed__currency {
    position: absolute;
    top: -4px;
    right: -8px;
    font-style: normal;
    font-size: variables.rem(10px);
    line-height: variables.rem(14px);
  }

  &.--disabled {
    .feed__item-header__info {
      text-decoration: line-through;

      a {
        cursor: auto;
        pointer-events: none;


        &::before {
          display: none;
        }
      }
    }

    .product-list-card {
      &__photo {
        filter: brightness(0.4);
        cursor: auto;
      }

      &__info {
        text-decoration: line-through;

        a {
          pointer-events: none;
        }
      }

      .btn {
        cursor: not-allowed;
      }

      .product-list-card__delete-btn {
        pointer-events: auto;
      }
    }
  }

  @include media.for-mobile {
    margin-top: variables.rem(48px);

    &-header {
      flex-direction: column;
      gap: variables.rem(8px);
      margin-bottom: variables.rem(24px);
    }


    &-header__time {
      margin-right: auto;
    }
  }

  @include media.for-tablet {
    margin-top: variables.rem(56px);

    &-header {
      margin-bottom: variables.rem(32px);

      &__info {
        max-width: 45%;
        padding-right: variables.rem(16px);
      }

      &__time {
        position: relative;
        max-width: 55%;
        padding-left: variables.rem(10px);

        &::before {
          position: absolute;
          top: 50%;
          bottom: 50%;
          left: 0;
          content: '';
          width: variables.rem(1px);
          height: variables.rem(18px);
          background-color: variables.$dark;
          transform: translateY(-50%);
        }
      }
    }
  }

  @include media.for-laptop {
    margin-top: variables.rem(64px);

    &-header {
      margin-bottom: variables.rem(40px);
      font-size: variables.rem(14px);
      line-height: variables.rem(22px);

      &__info {
        padding-right: variables.rem(16px);
      }

      &__time {
        padding-left: variables.rem(16px);
      }
    }
  }

  @include media.for-desktop {
    margin-top: variables.rem(104px);

    &-header {
      font-size: variables.rem(18px);
      line-height: variables.rem(29px);

      &__info {
        padding-right: variables.rem(20px);
      }

      &__time {
        padding-left: variables.rem(20px);
      }
    }

    .feed__currency {
      top: variables.rem(-7px);
      right: variables.rem(-11px);
      font-size: variables.rem(14px);
      line-height: variables.rem(23px);
    }
  }
}
